<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="./assets/Css/helper.css">
    <link rel="stylesheet" href="./assets/Css/style.css">
    
    <title>Mobile</title>
</head>
<body>
    <section class="hero-sec">
        <div class="container">
            <header class="head">
           
                <div class="row">
                    <div class="col-6">
                        <a href="index.html">
                            <img src="./assets/Img/Logo (2).png" alt="logo" >
                        </a>
                    </div>
                    <div class="col-6">
                        <nav class="navbar">
                            <ul>
                                <li><a href="javascipt:;">home</a></li>
                                <li><a href="javascipt:;">features</a></li>
                                <li><a href="javascipt:;">dowloads</a></li>
                                <li><a href="javascipt:;">blog</a></li>
                                <li><a href="javascipt:;">contact</a></li>
                            </ul>
                        </nav>
                    
                </div>
                </div>
                
            

        </header>
        <div class="row">
            <div class="col-6">
                <div class="choco">
                    <h1>Chocolate pudding dessert jelly</h1>
                    <p>Fruitcake donut gummies,Candy liquorice biscuit,Sugar plum jelly gumi bears brownie toffee
                        cupcake caramels brownie cookie.
                    </p>
                    <a  href="javascript:;"><i class="fas fa-mobile-alt"></i>Download on Appstore</a>
                </div>
            </div>
            <div class="col-6">
                <div class="mob">
                    <figure>
                        <img src="./assets/Img/Mob.png">
                    </figure>
                </div>

            </div>
        </div>
         
        </div>
        
    </section>
    <section class="app-feature">
        <div class="container">
            <div class="row">
                <div class="col-8 col-offset-2" >
                    <div class="feature-head aligncenter">
                        <h1>
                            App Features
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Facere perspiciatis iste excepturi earum, perferendis exercitationem deleniti 
                             Cum quisquam amet molestias assumenda temporibus nulla quos!esse molestiae,
                        </p>
                    </div>

                </div> 
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="feature-info">
                        <figure>
                            <img src="./assets/Img/scalable.png">
                            
                        </figure>
                        <h3>scalable</h3>
                        <p>
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Labore rem incidunt velit aspernatur, odit ea soluta, 
                         sapiente commodi laboriosam ab aliquid natus libero voluptatum repudiandae. 
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="feature-info">
                        <figure>
                            <img src="./assets/Img/something.png">
                            
                        </figure>
                        <h3>something</h3>
                        <p>
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Labore rem incidunt velit aspernatur, odit ea soluta, 
                         sapiente commodi laboriosam ab aliquid natus libero voluptatum repudiandae. 
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="feature-info">
                        <figure>
                            <img src="./assets/Img/instant.png">
                            
                        </figure>
                        <h3>instant</h3>
                        <p>
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Labore rem incidunt velit aspernatur, odit ea soluta, 
                         sapiente commodi laboriosam ab aliquid natus libero voluptatum repudiandae. 
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <section class="fruit">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="fruitsinfo">
                        <h1><span class="primary-color">chocolate </span>pudding 
                            dessert jelly <span class="primary-color">fruit
                                cake tart jelly wa</span>fer
                        </h1>
                        <p>
                          Donut cupcake lemon drops dragle liquorice apple pie powder.Topping sweet lollipop 
                          chocolate liquoirice candy canes  
                        </p>
                        <a href="javascript:;">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footerSection">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <div class="footer-logo">

                    <a href="index.html">
                        <img src="./assets/Img/Logo (2).png">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="footer-list">
                   <h4>Popular post</h4>
                   <ul>
                    <li>
                        <div class="box">
                        </div>
                        <div class="boxInfo">
                            <p>I love Donut</p>
                            <p>Bonbon cakes</p>
                            
                        </div>
                    </li>
                    <li>
                        <div class="box">
                        </div>
                        <div class="boxInfo">
                            <p>Candy fruitcake</p>
                            <p>biscuit chupa chups</p>
                            
                        </div>
                    </li>
                    <li>
                        <div class="box">
                        </div>
                        <div class="boxInfo">
                            <p>Candy fruitcake</p>
                            <p>biscuit chupa chups</p>
                            
                        </div>
                    </li>
                   </ul> 
                </div>
            </div>
            <div class="col-4">
                <div class="footer-list suits">
                 <h4>
                     Suits on twitter
                 </h4>
                 <ul>
                    <li>
                        Sedlex <p>10 hour ago</p>
                    </li>
                    <li class="p-info">Lorem ipsum dolor sit,<br> amet
                         consectetur adipisicing elit.</li>
                    <li>Follow us</li>
                 </ul>
                </div>
             </div>
             <div class="col-4">
                <div class="footer-list ">
                    <h4>About</h4>
                    <p class="about">Lorem ipsum, dolor sit amet consectetur<br> adipisicing elit. Sit ad laboriosam velit perspiciatis nisi aliquid, vitae fuga quod blanditiis maxime tempore  animi ex voluptas alias,
                         unde accusamus distinctio ducimus.</p>
                </div>
             </div>
        </div>
        
        </div>

    </section>
    <footer>
        <div class="container footers">
            <div class="row">
                <div class="col-12">
                    <div class="footer-foot aligncenter">
                        <p>copyright Filip Kordamvski 2016 <span>|</span></p>
                        <p><a href="http://theultimatecoders.com/">http://theultimatecoders.com/</a> <span>|</span></p>
                        <div class="social-icons">
                            <a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="javascript:;"><i class="fa-brands fa-dribbble" ></i></a>
                            <a href="javascript:;"><i class="fa-brands fa-square-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>