<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>TinyOne</title>
</head>
<body>
    <section class="heroImg">
    <div class="container">
       
        <header class="header">
            <div class="row">
                <div class="col-3">
                    <a href="index.html" class="logo">
                       
                        <img src="./assets/img/website-icon-1.png" style="height: 50px;" alt="tinyone" title="tinyone">
                        <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; padding-bottom: 10px;">TinyOne</h1>
                    </a>
                </div>
                <div class="col-5 offset-4">
                    <nav class="navbar">
                        <ul>
                         <li>
                            <a href="javascript:;">feature</a>
                        </li>
                        <li>
                            <a href="javascript:;">support</a>
                        </li>
                        <li>
                            <a href="javascript:;">blog</a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
        </header>
       
       <div class="inspiration">
        <div class="row">
        
        </div>
       </div>
       
        
    </div>
</section>
    
</body>
</html>